.infobar {
    font-size: 15px;
    font-family: "lyon-text";
    z-index: 100;
    height: 100%;
    transition: left 0.3s ease-out;
    box-shadow: 0 0px 56px rgba(0, 0, 0, 0.66), 0 0px 6px rgba(0, 0, 0, 0.23);
    left: 0px;
    position: absolute;
    width: 500px;
    color: #fff;
    background-color: #555;
    line-height: 1.3em;
    /* overflow: auto; */
    /*direction: rtl;*/
    z-index: 300;
}

.infobar.hide {
    display: none;
}

.infobar.sneak {
    left: -495px;
}

.infobar.sneak:hover {
    left: -490px;
}

.infobar .infobutton {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    right: 10px;
    width: 20px;
    height: 30px;
    position: absolute;
    opacity: 0.5;
    background-image: url("../img/infobutton.svg");
    top: 50%;
    /* opacity: 0.33; */
    cursor: pointer;
    transition: transform 0.3s, right 0.3s;
}

.infobar.sneak .infobutton {
    /* transform: rotate(180deg); */
    right: -40px;
    background-image: url("../img/infobutton2.svg");
    width: 40px;
    height: 40px;
}

.infobar h1 {
    font-size: 20px;
    text-align: left;
    margin: 0;
    text-align: left;
}

.infobar h2 {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    font-family: "euclid flex";
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 20px;
}

.infobar .outer {
    height: 100%;
    /* overflow-y: auto; */
    /* overflow-x: hidden; */
}

.infobar .outer::-webkit-scrollbar * {
    /* background: #555555; */
}

.infobar .inner {
    /* height: 100%; */
    /* overflow-y: scroll; */
    padding: 60px 60px;
    float: left;
    /*direction: ltr;*/
}

.infobar img {
    xborder: 1px solid #999;
    width: 275px;
    padding: 5px 50px 0 50px;
}

.infobar img.scroll {
    width: 100px;
    padding: 0 140px;
    margin-top: 10px;
}

.infobar .label {
    font-size: 13px;
    font-family: "euclid flex";
    margin-bottom: 2px;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
}

.infobar p {
    float: left;
    clear: both;
    /* font-family: "lyon-text", serif; */
    font-family: "euclid flex";
}

.infobar p em {
    font-family: "euclid flex";
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    color: #F4ECC2;
    font-size: 0.94em;
}

.infobar .feedback {
    clear: none;
    float: left;
    margin-top: 4em;
    margin-right: 1em;
    text-align: center;
}

.infobar .feedback a {
    font-size: 16px;
    font-family: "euclid flex";
    margin-bottom: 2px;
    margin-top: 1.5rem;
    border: 2px solid #999;
    font-weight: none;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    xwidth: 125px;
    xdisplay: block;
}

.infobar .feedback a:hover {
    border: 2px solid #fff;
}


